body {
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  background: linear-gradient(135deg, #d4dde4, #170f49);
  margin: 0;
 
}

.container {
    width: 650px;
    margin: 19px auto;
    background: #009aff2b;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}


.back-btn {
  display: inline-block;
  margin: 15px 20px;
  padding: 8px 16px;
  background-color: #000;        
  color: #fff;                   
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: #333;
}
